body{
  background: rgb(54,217,182);
  background: linear-gradient(90deg, rgb(54, 177, 150) 0%, rgb(87, 214, 187) 43%, rgb(69, 180, 174) 100%);
}

.searchbar {
  height: 100%;
  border: #000;
  font-size: 16px;
  outline: none;
  width: 100%;
}
.bar {
  height: 50%;
  position: relative;
  width: 100%;
  margin: auto;
  padding: 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #fff;
  /* box-shadow: 1px 1px 8px 1px #7e928f; */
}

.bar:hover {
  box-shadow: 1px 1px 8px 1px #979595;
}
.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #979595;
  outline: none;
}

.submit {
  background-color: #36d9b6;
  border: 0;
  color: #fff;
  /* box-shadow: 1px 1px 8px 1px #7e928f; */
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: 10%;
  margin-left: 100%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.submit:hover {
  box-shadow: 1px 1px 8px 1px #979595;
}

.divs {
  height: 50px;
  position: relative;
  width: 10%;
  padding: auto;
  left: 35%;
  top: 10px; 
}

.data-grid{
  height: 350px;
  position: relative;
  width: 35%;
  padding: auto;
  top: 10px; 
  background-color: rgb(255, 255, 255);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #36d9b6; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
